<div class="user-details">
  <h1 class="fancy-font">Castello di Rosciano</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/IMG_6265.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Informazioni e Camere </h3>
    <p>Per chi desidera prenotare una camera il costo è:

€130,00 
(camera doppia con colazione inclusa ) 
€90,00 
(camera singola con colazione inclusa)
INFO E PRENOTAZIONI 
Valeria: 333.61.63.021</p>
  </div>
</div>
  <div class="ibn">
    <img alt="ibn" src="{{ "/assets/img/iban%20base_def.png" | prepend: site.baseurl }}" />
  </div>
<!--<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/IMG_6264.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3></h3>
    <p class="center">La vostra presenza in un giorno così importante
sarà per noi la gioia più grande. <br/> Tuttavia se desideraste farci un piccolo dono, sappiate che la nostra
valigia è colma di sogni da realizzare e di luoghi da visitare... Non vediamo l'ora di partire per questo
nuovo viaggio che ci vedrà insieme per sempre.</p>
<p class="intest">Intestatario Conto</p>
<p class="intest">Cristian Chiurchi</p>
<p class="intest"><span class="iban"> IT28C0306921607XXXXXXXX</span></p>
    <h2 class="fancy-font center "> Grazie di Cuore </h2>
  </div>
</div>-->
